h1{
	color: #d9d9d9;
	text-align: center;
    font-size: 8em;
}
body{
   background: white;
    
}
*{
	list-style: none;
}
p{
	max-width: 65%;
	text-align: center;
	margin: auto;
}
hr{
	border: 1px solid #404040;
	max-width: 80%;
	margin-bottom: 50px;
}
img{
	max-width: 300px;
}
.post_image{
	display: table; 
	margin: 0 auto;
}
.post_PREVIEW_item{
	width: 40%;
	float: left;
	height: 280px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;
	text-align: center;
	background-color: #d9d9d9;
	padding-top: 0px;
	background: -webkit-radial-gradient(circle, #777777, #d9d9d9, white); /* Safari */
    background: -o-radial-gradient(circle, #777777, #d9d9d9, white); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #777777, #d9d9d9, white); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, #777777, #d9d9d9, white); /* Standard syntax */
	border-top:3px solid #021a40;
	border-bottom:3px solid #021a40;
}
.post_PREVIEW_item img{
	max-height: 100px;
	-webkit-filter: grayscale(40%); /* Chrome, Safari, Opera */
    filter: grayscale(40%);
}
.post_PREVIEW_item a{
	color: #333333;
	text-decoration: none;
}
.post_PREVIEW_item li{
	color: #333333;
	font-size: 1.2em;
	display: inline;
	list-style: none;
}
.post_PREVIEW_item hr{
	width: 30%;
	margin-bottom: 10px;
}
.post_PREVIEW_item p{
	max-width: 80%;
}
.post_PREVIEW_item h2{
	font-size: 2em;
}
.post_feed{
	width: 80%;
	margin: auto;
}
.pagination{
	clear: both;
}
.header{
	background-color: #333333;
	width: 100%;
	margin: auto;
}
.nav{
	font-size: 1em;
	display: inline-block;
}
.nav a{
	color: #777777;
}
.top_of_page{
	/*background-color: #d9d9d9;*/
	
}