body{
   background: #fcf6e9;
}
*{
	list-style: none;
}
/*p{
	max-width: 65%;
	text-align: left;
	margin: auto;
	font-size: 1.5em;
}*/
hr{
	border: 1px solid #18121e;
	max-width: 80%;
	margin-bottom: 50px;
}
img{
	max-width: 300px;
}
.post_PREVIEW_item{
	width: 40%;
	float: left;
	height: 433px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 0px;
	/*background: -webkit-radial-gradient(circle, #eac67a, #fcf6e9, #fcf6e9); 
    background: -o-radial-gradient(circle, #eac67a, #fcf6e9, #fcf6e9); 
    background: -moz-radial-gradient(circle, #eac67a, #fcf6e9, #fcf6e9); 
	background: radial-gradient(circle, #eac67a, #fcf6e9, #fcf6e9); */
	/*border-top:3px solid #18121e;*/
	border-bottom:3px solid #18121e;
	border-radius: 0px 0px 0px 0px;
}

.post_PREVIEW_item img{
	max-height: 100px;
	-webkit-filter: grayscale(40%); /* Chrome, Safari, Opera */
    filter: grayscale(40%);
}
.post_PREVIEW_item div img{
	border-radius: 10px;
	margin-top: 13px;
}
.post_PREVIEW_item a{
	color: #984b43;
	text-decoration: none;
}
.post_PREVIEW_item li{
	color: #984b43;
	font-size: 1.2em;
	display: inline;
	list-style: none;
}
.post_PREVIEW_item hr{
	width: 30%;
	margin-bottom: 10px;
}
.post_PREVIEW_item p{
	max-width: 80%;
}
.post_PREVIEW_item h2{
	font-size: 2em;
}
.post_PREVIEW_item .fb-like{
	margin-left: 0px;
}
.post_PREVIEW_TOP_item{
	width: 100%;
	clear: both;
	height: 463px;
	margin-bottom: 20px;
	text-align: center;
	/*background-color: #d9d9d9;
	background: -webkit-radial-gradient(circle, #eac67a, #fcf6e9, #233237); 
    background: -o-radial-gradient(circle, #eac67a, #fcf6e9, #fcf6e9);  Opera 11.6 to 12.0 
    background: -moz-radial-gradient(circle, #eac67a, #fcf6e9, #fcf6e9); 
	background: radial-gradient(circle, #eac67a, #fcf6e9, #fcf6e9); */
	/*border-top:3px solid #18121e;*/
	border-bottom:3px solid #18121e;
	border-radius: 0px 0px 0px 0px;
}
.post_PREVIEW_TOP_item .fb-like{
	margin-left: 0px;
}
.post_PREVIEW_TOP_item img{
	max-height: 150px;
	-webkit-filter: grayscale(40%); /* Chrome, Safari, Opera */
    filter: grayscale(40%);
}
.post_PREVIEW_TOP_item div img{
	border-radius: 10px;
	margin-top: 13px;
}
.post_PREVIEW_TOP_item a{
	color: #984b43;
	text-decoration: none;
}
.post_PREVIEW_TOP_item li{
	color: #984b43;
	font-size: 1.2em;
	display: inline;
	list-style: none;
}
.post_PREVIEW_TOP_item hr{
	width: 30%;
	margin-bottom: 10px;
}
.post_PREVIEW_TOP_item p{
	max-width: 80%;
}
.post_PREVIEW_TOP_item h2{
	font-size: 2em;
}
.post_feed{
	width: 80%;
	margin: auto;
}
.pagination{
	clear: both;
}
.header{
	background-color: #233237;
	width: 100%;
	margin: auto;
}
.header h1{
	color: #eac67a;
	text-align: center;
    font-size: 8em;
}
.header h2{
	color: #eac67a;
	text-align: center;
    font-size: 4em;
}
.nav{
	font-size: 1.2em;
	display: inline-block;
	background-color: #fcf6e9;
	width: 100%;
	margin: auto;
}
.nav a{
	color: #984b43;
	text-decoration: none;
	margin-right: 2%;
	/*width: 15%;*/
}
.fb-comments{
	margin-left: 33%;
}
.fb-like{
	margin-top: 20px;
	margin-left: 15%;
}
.post_image{
	display: table; 
	margin: auto;
	margin-bottom: 50px;
}
.post_image img{
	max-height: 300px;
}
.post_credits{
	margin-left: 15%;
	text-align: left;
}
.post_credits img{
	border-radius: 10px;
	margin-top: 25px;
}
.post_credits a{
	text-decoration: none;
	color: #233237;
}
.post_body{
	width: 70%;
	margin: auto;
}
.post_body p{
	font-size: 2em;
}
.post_body h1{
	text-align: left;
	color: black;
	font-size: 5em;
}
.post_body h2{
	text-align: left;
	color: black;
	font-size: 4em;
}
.post_body h3{
	text-align: left;
	color: black;
	font-size: 3.5em;
}
.post_body h4{
	text-align: left;
	color: black;
	font-size: 3em;
}
.post_body h5{
	text-align: left;
	color: black;
	font-size: 2.5em;
}
.post_body h6{
	text-align: left;
	color: black;
	font-size: 2.2em;
}
.edit_or_create_post_link{
	clear: both;
	text-decoration: none;
	color: #eac67a;
}
.edit_or_create_post_link_button{
	text-align: center;
	width: 5%;
	height: 20px;
	background-color: #233237;
	margin: auto;
	border-radius: 5px;
	margin-bottom: 50px;
	padding: 5px;
}
.back_to_post_link{
	clear: both;
	text-decoration: none;
	color: #eac67a;
}
.back_to_post_link_button{
	text-align: center;
	width: 5%;
	height: 30px;
	background-color: #233237;
	border-radius: 5px;
	padding-top: 10px;
	margin-top: 20px;
}
.login_logout{
	float: right;
	/*margin-right: 0%;*/
	width: 30%;
	text-align: right;
	display: inline-block;
}
.login_logout_text{
	text-align: right;
}
.profile_picture_on_profile img{
	border-radius: 10px;
}