{% extends "base.html" %}
{% block content %}
	
	{% include "header.html" %}
	{% if request.user.is_staff %}
		<div class="edit_or_create_post_link_button"><a class="edit_or_create_post_link" href="{{ instance.get_absolute_uri }}create">Create Post</a></div>
		
	{% endif %}
	<hr>
	<div class="post_feed">
		{% if object_list %}
		<div class="post_PREVIEW_TOP_item">
			<a href='{{ object_list.0.get_absolute_url }}'>
		    	<h2>{{ object_list.0.title|truncatechars:30 }}</h2>
			</a>
				<hr>
			{% if object_list.0.image %}
				<img src="{{ object_list.0.image.url }}" />
					<hr>
			{% endif %}
			<li>Created by: {{ object_list.0.user.get_full_name }}</li>
			<br>
			<li>Created: {{ object_list.0.timestamp|date }}</li>
			<li> ~~ </li>
			<li>Last Update: {{ object_list.0.updated|date }}</li>
			</div>
		{% for obj in object_list|slice:"1:" %}
			<div class="post_PREVIEW_item">
				<a href='{{ obj.get_absolute_url }}'>
		    		<h2>{{ obj.title|truncatechars:30 }}</h2>
				</a>
				<hr>
				{% if obj.image %}
				<img src="{{ obj.image.url }}" />
				<hr>
				{% endif %}
				<li>Created by: {{ obj.user.get_full_name }}</li>
				<br>
				<li>Created: {{ obj.timestamp|date }}</li>
				<li> ~~ </li>
				<li>Last Update: {{ obj.updated|date }}</li>
			</div>
		{% endfor %}
		{% endif %}
	</div>
	<div class="pagination">
    	<span class="step-links">
       		{% if object_list.has_previous %}
            	<a href="?page={{ object_list.previous_page_number }}">previous</a>
        	{% endif %}
        	<span class="current">
            	Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        	</span>
        	{% if object_list.has_next %}
            	<a href="?page={{ object_list.next_page_number }}">next</a>
        	{% endif %}
    	</span>
	</div>
{% endblock content %}
