{% extends "base.html" %}
{% block content %}
	<div class="nav">
		<a href="">Home</a>
		<a href="">Article Feed</a>
		<a href="">API Documentation</a>
		<a href="">Contact</a>
	</div>
	<div class="header">
		<h1>Header Example</h1>
	</div>
	<hr>
	<div class="post_feed">
		{% for obj in object_list %}
			<div class="post_PREVIEW_item">
				<a href='{{ obj.get_absolute_url }}'>
		    		<h2>{{ obj.title|truncatechars:30 }}</h2>
				</a>
				<hr>
				<img src="{{ obj.image.url }}" />
				<hr>
				<li>Created: {{ obj.timestamp|date }}</li>
				<li> ~~ </li>
				<li>Last Update: {{ obj.updated|date }}</li>
			</div>
		{% endfor %}
	</div>
	<div class="pagination">
    	<span class="step-links">
       		{% if object_list.has_previous %}
            	<a href="?page={{ object_list.previous_page_number }}">previous</a>
        	{% endif %}
        	<span class="current">
            	Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        	</span>
        	{% if object_list.has_next %}
            	<a href="?page={{ object_list.next_page_number }}">next</a>
        	{% endif %}
    	</span>
	</div>
{% endblock content %}