{% extends "base.html" %}
{% load avatar_tags %}
{% block head_title %}
	{{  instance.title }} - {{  block.super }}
{% endblock head_title %}

{% block content %}


	<div class="header">
		<h2 class="post_title">{{ instance.title }}</h2>
	</div>
	{% if request.user.is_staff and request.user == instance.user %}
	<hr>
		<div class="edit_or_create_post_link_button"><a class="edit_or_create_post_link" href="{{ instance.get_absolute_uri }}edit">Edit Post</a></div>
		<div class="edit_or_create_post_link_button"><a class="edit_or_create_post_link" href="{{ instance.get_absolute_uri }}delete">Delete Post</a></div>
	{% endif %}
	<hr>

	{% if instance.image %}
	<div class="post_image">
		<img src="{{ instance.image.url }}" />
	</div>
	{% endif %}
	<hr>
	<div class='post_body'><p>{{ instance.body }}</p></div>

	<div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

	<div class="post_credits">
		<a href="/user/{{ instance.user.username }}">{% avatar instance.user 80 %}</a>
		<h4>Created by: <u><a href="/user/{{ instance.user.username }}">{{ instance.user.get_full_name }}</h4></a></u>
		<h4>Created: {{ instance.timestamp }}</h4>
		<h4>Last updated: {{ instance.updated }}</h4>
	</div>

	<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
{% endblock content %}